.control {
    background-color: #82C7AF;
    border: 0;
    border-radius: 6px;
    caret-color: white;
    color: white;
    font-size: 20px;
    margin: 10px 0 10px 0px;
    padding: 5px 10px;
}

.menu {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.option {
    color: black;
}

.optionFocused {
    background-color: #E8F5E9; 
    color: darkgreen;
}

.optionSelected {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

.singleValue {
    color: white;
}

.placeholder {
    color: white;
}

.selectStyle {
    color: white;
    font-size: 20px;
    width: 52rem;
}